

<div>
  <h1>Find a recipe: </h1>

  <div class="recipe-search">
    <app-recipe-search-tag-picker (addTag)="addSearchTag($event)" (addTerm)="addSearchTerm($event)"></app-recipe-search-tag-picker>
    <!-- current list of terms -->
    <div class="recipe-search-terms">
      <ul>
        <li *ngFor="let term of searchTerms">
          <span class="recipe-search-term">{{term}}</span> <button (click)="removeSearchTerm(term)"> Remove </button>
        </li>
      </ul>
    </div>
    <div class="recipe-search-tags">
      <ul>
        <li *ngFor="let tag of searchTags">
          <span class="recipe-search-term">{{tag.name}}</span> <button (click)="removeSearchTag(tag)"> Remove </button>
        </li>
      </ul>
    </div>
    <br />
    <button (click)="runSearch()">Search</button>
    <button *ngIf="results.length" (click)="clearResults()">Clear</button>
  </div>

  <div id="edamam-badge" data-color="white"></div>
  <div *ngIf="results.length">
    <h4>Results:</h4>
    <div class="recipe-search-results">
      <div *ngFor="let recipe of results">
        <app-recipe-display [displayComments]="false" [recipe]="recipe"></app-recipe-display>
      </div>
    </div>
  </div>
</div>
