<div *ngIf="comment">
  <span *ngIf="user">{{user.userName}} </span> <span *ngIf="!user">anonymous</span> {{comment.commentTime | date : 'short'}}:
	{{comment.commentText}}
	<div *ngIf="showAddComment">
		<app-add-comment (saveComment)="save($event)" (cancelEdit)="cancel()"></app-add-comment>
	</div>
	<div *ngIf="!showAddComment">
		<button class="btn-add-comment" (click)="showAddComment=true">+ Add Comment</button>

	</div>
	<ul>
		<li *ngFor="let comment of comment.subComments">
			<app-comment-display [users]="users" [loadComment]="loadComment" [comment]="comment"></app-comment-display>
		</li>
	</ul>

</div>
