
    <div class="recipe-search-status">
      <p>{{status}}</p>
    </div>
    <!-- input to get search term -->
    <div>
      <label for="recipe-search-value-input">Enter term to search for</label>
      <!--<input id="recipe-search-value-input" name="recipe-search-value" [value]="curTerm" (change)="updateTerm($event)" placeholder="Enter search term"/>-->
      <input id="recipe-search-value-input" name="recipe-search-value" #name_input placeholder="Enter search term"/>
      <button (click)="addSearchTerm(name_input.value)">Add to Search</button>
    </div>

    <!-- selector to get type of term (search based on recipe name/tag/etc) -->
    <app-tag-picker (addTag)="addSearchTag($event)">Add to Search</app-tag-picker>


