
  <div>
    <label for="recipe-search-type-selector">Choose search type</label>
    <!--<select id="recipe-search-type-selector" name="recipe-search-type" [value]="curType" (change)="updateType($event)">-->
    <select id="tag-picker" name="tag-picker" #tag_picker>
      <optgroup *ngFor="let group of tags" [label]="group.label">
        <option *ngFor="let tag of group.tags" [value]="tag">{{tag}}</option>
      </optgroup>
      <!--
      <option value="name_search">Name</option>
      <option value="tag_search">Tag</option>
      <option value="ingredient_search">Ingredient</option>
      -->
    </select>
    <div class="tag-picker-actions">
      <button (click)="submit(tag_picker.value)">Add to Search</button>
      <button *ngIf="showCancel" (click)="cancel()">Cancel</button>
    </div>
  </div>
